<!DOCTYPE html>
<html lang="en">

<head>
	<title>@ViewData["Title"] - MajoliFE</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Majoli Financial Engine | </title>

	@*<link href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">*@
	<!-- Bootstrap -->
	<link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
	<!-- NProgress -->
	<link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	<!-- Datatables -->
	<link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
	<!-- bootstrap-progressbar -->
	<link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
	<!-- bootstrap-daterangepicker -->
	<link href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
	<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<link href="~/Content/vendors/bootstrap-datepicker/vitalets-bootstrap-datepicker-c7af15b/css/datepicker.css" rel="stylesheet" />
	<!-- JQery Confirm -->
	<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
	<!-- Switchery -->
	<link href="~/Content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
	<!-- chosen -->
	<link href="~/lib/chosen_v1.8.7/chosen.min.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="~/Content/build/css/custom.min.css" rel="stylesheet">

	<!-- Custom Style -->
	<link href="~/lib/alertifyjs/css/alertify.css" rel="stylesheet">
</head>


<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="@Url.Action("Index","Home")" class="site_title"><img style="height: 45px;" src="~/Content/build/images/majoli_logo_horizontal.png" alt="image"></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile clearfix">
						<div class="profile_pic">
							@*<img src="images/img.jpg" alt="~/Content." class="img-circle profile_img">*@
						</div>
						<div class="profile_info">

							@if (User != null && User.Identity != null)
							{
								<span>Dobrodošli,</span>
								<h2>@User.Identity.Name</h2>
							}

						</div>
					</div>
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<h3>Navigacija</h3>
							<ul class="nav side-menu">
								<li>
									<a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Početna @*<span class="fa fa-chevron-down"></span>*@</a>
									@*<ul class="nav child_menu">
											<li><a href="index.html">Dashboard</a></li>
											<li><a href="index2.html">Dashboard2</a></li>
											<li><a href="index3.html">Dashboard3</a></li>
										</ul>*@

								</li>
								<li>
									<a href="@Url.Action("Customers","Home")"><i class="fa fa-user"></i> Klijenti </a>
								</li>
								<li>
									<a href="@Url.Action("Invoices","Home")"><i class="fa fa-file-alt"></i> Računi </a>
								</li>
							</ul>
						</div>

					</div>
					<!-- /sidebar menu -->
					<!-- /menu footer buttons -->
					<div class="sidebar-footer hidden-small">
						<a data-toggle="tooltip" data-placement="top" title="Podešavanja" asp-controller="Home" asp-action="Settings">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</a>
						<a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Page("/", new { area = "" })" data-toggle="tooltip" data-placement="top" title="Dodaj korisnika">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</a>
						@*<a data-toggle="tooltip" data-placement="top" title="Lock">
								<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
							</a>
							<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
								<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
							</a>*@
					</div>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>

						<ul class="nav navbar-nav navbar-right">
							<li class="">
								<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									@*<img src="images/img.jpg" alt="">John Doe*@
									<span class=" fa fa-angle-down"></span>
								</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right">
									@*<li><a href="javascript:;"> Profile</a></li>
										<li>
											<a href="javascript:;">
												<span class="badge bg-red pull-right">50%</span>
												<span>Settings</span>
											</a>
										</li>
										<li><a href="javascript:;">Help</a></li>*@
									<li>
										<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
											<input type="submit" value="Odjavi se" class="logoutbtn" aria-hidden="true" />
										</form>@*<a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>*@
									</li>
								</ul>
							</li>


						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->
			<!-- page content -->
			<div class="right_col" role="main">
				<!-- top tiles -->
				@RenderBody()
			</div>
			<!-- /page content -->
			<!-- footer content -->
			<footer>
				<div class="pull-right">
					Copyright © 2020 Diligent. All rights reserved. Version: 1.0.0.2 <a href="https://dilig.net/">Diligent Software</a>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>

	<!-- jQuery -->
	<script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	@*<script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>*@
	<script src="~/lib/jquery-validation/dist/messages_sr_lat.js"></script>
	<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<!-- Bootstrap -->
	<script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
	<!-- NProgress -->
	<script src="~/Content/vendors/nprogress/nprogress.js"></script>
	<!-- bootstrap-progressbar -->
	<script src="~/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
	<!-- iCheck -->
	<script src="~/Content/vendors/iCheck/icheck.min.js"></script>
	<!-- DateJS -->
	<script src="~/Content/vendors/DateJS/build/date.js"></script>
	<!-- bootstrap-daterangepicker -->
	<script src="~/Content/vendors/moment/min/moment.min.js"></script>

	<script src="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="~/Content/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="~/Content/vendors/bootstrap-datepicker/vitalets-bootstrap-datepicker-c7af15b/js/bootstrap-datepicker.js"></script>
	<script src="~/lib/bootstrap-datepicker-languages/bootstrap-datepicker.sr-latin.js"></script>
	<!-- Datatables -->
	<script src="~/Content/vendors/jszip/dist/jszip.min.js"></script>
	<script src="~/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="~/Content/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>


	<script src="~/Content/vendors/pdfmake/build/vfs_fonts.js"></script>

	<!-- Switchery -->
	<script src="~/Content/vendors/switchery/dist/switchery.min.js"></script>
	<!-- chosen -->
	<script src="~/lib/chosen_v1.8.7/chosen.jquery.min.js"></script>

	<!-- Custom Theme Scripts -->
	<script src="~/Content/src/js/helpers/smartresize.js"></script>
	<script src="~/Content/build/js/custom.js"></script>

	<!-- JQery Confirm -->
	<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>

	<!-- Custom Scripts -->

	<script src="~/lib/alertifyjs/alertify.min.js"></script>
	<script src="~/lib/blockUI/jquery.blockUI.js"></script>
	<script src="~/lib/accounting/accounting.js"></script>


	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)

</body>




</html>
