@model MajoliFE.Business.Dtos.InvoiceItemDto
<div class="modal" id="CreateOrUpdateInvoiceItemDialog" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">

			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" style="display: inline;">Uredi/Dodaj stavku</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body row">
					<input type="hidden" id="invoiceItemId" value="@Model.Id" />
					<input type="hidden" id="invoiceItemCreatedAt" value="@Model.CreatedAt" />
					<div class="col-md-12 col-sm-12  form-group has-feedback">
						<input type="text" class="form-control has-feedback-left" asp-for="@Model.Name" id="invoiceItemName" placeholder="Naziv*" required>
						<span class="fa fa-edit form-control-feedback left" aria-hidden="true"></span>
					</div>
					<div class="col-md-5 col-sm-12  form-group has-feedback">
						<input type="number" class="form-control has-feedback-left" asp-for="@Model.Quantity" id="invoiceItemQuantity" placeholder="Količina*" required>
						<span class="fa fa-edit form-control-feedback left" aria-hidden="true"></span>
					</div>
					<div class="col-md-7 col-sm-12  form-group has-feedback">
						<input type="number" class="form-control has-feedback-left" asp-for="@Model.Price" id="invoiceItemPrice" placeholder="Cena*" required>
						<span class="fa fa-euro-sign form-control-feedback left" aria-hidden="true"></span>
					</div>
					<div class="col-md-12 col-sm-12  form-group has-feedback">
						<input type="text" class="form-control has-feedback-left" asp-for="@Model.ItemId" id="invoiceItemItemId" placeholder="ID*" required>
						<span class="fa fa-edit form-control-feedback left" aria-hidden="true"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="AddOrUpdateInvoiceItem(@Model.Id, @Model.Index, @Model.IsAdd.ToString().ToLower())" class="btn btn-primary">Snimi</button>
					<button type="button" class="btn btn-warning" data-dismiss="modal">Zatvori</button>
				</div>
			</div>
	</div>
</div>
