@model MajoliFE.Business.Dtos.VendorDto
<div class="modal" id="CreateOrUpdateVendorDialog" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<form class="form-label-left input_mask" id="CreateOrUpdateVendorDialogForm" asp-controller="Home" asp-action="CreateOrUpdateVendorDialog" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" style="display: inline;">Uredi/Dodaj dobavljača</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body row">
					@Html.HiddenFor(x => x.Id)
					@Html.HiddenFor(x => x.CreatedAt)
					<div class="col-md-7 col-sm-12  form-group has-feedback">
						<input type="text" class="form-control has-feedback-left" asp-for="@Model.Name" placeholder="Ime*" required>
						<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
					</div>
					<div class="col-md-12 col-sm-12  form-group has-feedback">
						<input type="text" class="form-control has-feedback-left" asp-for="@Model.Street" placeholder="Ulica*" required>
						<span class="fa fa-map-marker-alt form-control-feedback left" aria-hidden="true"></span>
					</div>
					<div class="col-md-6 col-sm-6  form-group has-feedback">
						<input type="text" class="form-control has-feedback-left" asp-for="@Model.City" placeholder="Grad*" required>
						<span class="fa fa-map-marker-alt form-control-feedback left" aria-hidden="true"></span>
					</div>
					<div class="col-md-6 col-sm-6   form-group has-feedback">
						<input type="text" class="form-control has-feedback-left" asp-for="@Model.Zip" placeholder="Poštanski broj*" required>
						<span class="fa fa-map-marker-alt form-control-feedback left" aria-hidden="true"></span>
					</div>
					<div class="col-md-6 col-sm-6  form-group has-feedback">
						<input type="text" class="form-control has-feedback-left" asp-for="@Model.PIB" placeholder="PIB*" required>
						<span class="fa fa-id-card form-control-feedback left" aria-hidden="true"></span>
					</div>
					<div class="col-md-6 col-sm-6   form-group has-feedback">
						<input type="text" class="form-control has-feedback-left" asp-for="@Model.MB" placeholder="Matični broj*" required>
						<span class="fa fa-id-card form-control-feedback left" aria-hidden="true"></span>
					</div>
					<div class="col-md-12 col-sm-12  form-group has-feedback">
						<input type="text" class="form-control has-feedback-left" asp-for="@Model.AccountNumber" placeholder="Račun*" required>
						<span class="fa fa-map-marker-alt form-control-feedback left" aria-hidden="true"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Snimi</button>
					<button type="button" class="btn btn-warning" data-dismiss="modal">Zatvori</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	$(document).ready(function () {
		$("#CreateOrUpdateVendorDialogForm").validate({errorPlacement: function(error, element){}});
	});
</script>