@model MajoliFE.Models.InvoicesViewModel
@{
	ViewData["Title"] = "Računi";
}

<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>Računi</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right top_search">
				<div class="input-group">
					<button id="addNewCustomerBtn" onclick="location.href ='@Url.Action("CreateOrUpdateInvoice", "Home", new { id = 0 })'" class="btn btn-primary" type="button">Dodaj novi</button>
					<button data-toggle="modal" data-target="#DateRangeForInvoicesReport" class="btn btn-success" type="button">Preuzmi izveštaj</button>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12  ">
			<div class="x_panel">
				<div class="x_title">
					<h2><i class="fa fa-filter"></i>Filteri</small></h2>
					<ul class="nav navbar-right panel_toolbox">
						<li>
							<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li>
							<a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>

				</div>
				<form class="form-label-left input_mask" id="CreateOrUpdateCustomerDialogForm" asp-controller="Home" asp-action="Invoices" method="get">
					<div class="x_content">
						<div class="col-md-4">
							<div class="field item form-group">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Datum Od</label>
								<div class="col-md-9 col-sm-9">
									@Html.TextBoxFor(x => x.FilterModel.DateFrom, new { @class = "form-control datepicker" })
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="field item form-group">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Datum Do</label>
								<div class="col-md-9 col-sm-9">
									@Html.TextBoxFor(x => x.FilterModel.DateTo, new { @class = "form-control datepicker" })
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<input type="submit" class="btn btn-primary pull-right" value="Primeni" />
							@*<div class="field item form-group">
									<label class="col-form-label col-md-3 col-sm-3  label-align">Datum Do</label>
									<div class="col-md-9 col-sm-9">
										<select class="chosen-select" style="width:100%;" asp-for="@Model.FilterModel.CustomerId" asp-items="@Model.FilterModel.Customers"></select>
									</div>
								</div>*@

						</div>



					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<p class="text-muted font-13 m-b-30">
						Pregled svih računa.
					</p>

					<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>#</th>
								<th>Id</th>
								<th>Broj računa</th>
								<th>Datum izdavanja</th>
								<th>Datum dospeća</th>
								<th>Klijent</th>
								<th>Bez PDV-a</th>
								<th>PDV</th>
								<th>Ukupno</th>
								<th>Plaćeno</th>
								<th>Izdat</th>
								<th>Plaćen</th>
								<th>Akcije</th>
							</tr>
						</thead>
						<tbody>
							@{var index = 1; }
							@foreach (var item in Model.Invoices)
							{

								<tr>
									<td>@index</td>
									<td>@item.Id</td>
									<td>@item.InvoiceNumber</td>
									<td>@item.DateIssued.ToShortDateString()</td>
									<td>@item.CurrencyDate.ToShortDateString()</td>
									<td style="max-width:250px;">@item.Customer?.Name</td>
									<td>@item.BaseTotal.ToString("N2")</td>
									<td>@item.PDV.ToString("N2")</td>
									<td>@item.Total.ToString("N2")</td>
									<td>@item.TotalPaid.ToString("N2")</td>
									@if (item.IsIssued)
									{
										<td style="background-color:#337ab7;color:white">Da</td>
									}
									else
									{
										<td style="background-color:#ec971f;color:white">Ne</td>
									}

									@if (item.IsPaid)
									{
										<td style="background-color:#26B99A;color:white">Da</td>
									}
									else if (item.TotalPaid != 0)
									{
										<td style="background-color:#ec971f;color:white">Delimično</td>
									}
									else
									{
										<td style="background-color:red; color:white">Ne</td>
									}
									<td>
										<button onclick="location.href='@Url.Action("CreateOrUpdateInvoice", "Home", new { id = item.Id })'" class="btn btn-primary" type="button"><i class="fa fa-edit"></i></button>
										<button onclick="DownloadInvoice(@item.Id )" class="btn btn-success" type="button"><i class="fa fa-download"></i></button>
										<button onclick="DeleteInvoice(@item.Id )" class="btn btn-danger" type="button"><i class="fa fa-trash-alt"></i></button>
									</td>
								</tr>
								index = index + 1;
							}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
	@await Html.PartialAsync("_InvoiceStatisticsPV", Model.InvoiceStatistics);
</div>
<input type="hidden" id="DeleteInvoiceUrl" value="@Url.Action("DeleteInvoice","Home")" />
<input type="hidden" id="DownloadInvoiceUrl" value="@Url.Action("DownloadInvoice","Home")" />
@*<partial name="_DateRangeForInvoicesReport.cshtml" />*@
@Html.Partial("_DateRangeForInvoicesReport.cshtml", null, new ViewDataDictionary(this.Vi‌​ewData) { { "targetUrl", "GenerateInvoicesReportForTimePeriod" } })
<div id="CreateOrUpdateCustomerDialogHolder">

</div>
@if (Model.ShowMessage)
{
	@Html.HiddenFor(m => m.Message);
}

@section Scripts
{
	<script src="~/js/Invoices.js"></script>
}


